text {
  font-size: 11px;
  pointer-events: none;
}

text.parent {
  fill: #1f77b4;
}

circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  fill-opacity: .1;
  stroke: steelblue;
}

circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}

circle.child {
  pointer-events: none;
}

div.main{
    text-align: center;
}
div.circle {
    background: rgba(31, 119, 180, 0.1);
    border: 1px solid steelblue;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
div.circle-leaf {
    background: rgba(255, 0, 0, 0.1);
}
div.align-helper {
    display: inline-block;
    vertical-align: middle;
    height:100%;
}

div.circle:hover {
    border-color: #ff7f0e;
}

div.node-list {
    position: absolute;
    width: 100%;
    text-align: center;
}
div.node-list.start {
    top: 20%;
}div.node-list.result {
    bottom: 20%;
}

span.text-node {
    padding: 0 3px;
    border: 1px solid black;
    margin: 0 1px;
}