body {
    /*overflow: hidden;*/
    /*position: relative;*/
    margin: 0;
    background: #eee;
    font-family: sans-serif;
}

div.content {
    width: 75%;
    position: absolute;
    display: inline-block;
    height: 100%;
    background: white;
    overflow: hidden;
}

div.console {
    display: inline-block;
    position: absolute;
    overflow-y: auto;
    width: 25%;
    height: 100%;
    right: 0;
}
div.console div.inner {
    position: relative;
}
div.console div.inner > paper-shadow {
    background: lightcyan;
    padding: 4px;
    border-radius: 2px;
    margin: 10px 8px;
}
a.button {
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
}
a.button:hover {
    background: #56b382;
    background: -moz-linear-gradient(top, #67b28b 6%, #56b382 48%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,#67b28b), color-stop(48%,#56b382)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #67b28b 6%,#56b382 48%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #67b28b 6%,#56b382 48%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #67b28b 6%,#56b382 48%); /* IE10+ */
    background: linear-gradient(to bottom, #67b28b 6%,#56b382 48%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67b28b', endColorstr='#56b382',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset,0 -1px 1px rgba(0,0,0,0.1) inset,0 1px 0px rgba(0,0,0,0.2) inset;
}
div.main {
    display: inline-block;
    position: relative;
    background: white;
    font-family: serif;
}

div.circle {
    background: rgba(31, 119, 180, 0.1);
    border: 1px dashed steelblue;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 -1px;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}

div.circle.circle-leaf {
    background: rgba(255, 0, 0, 0.1);
}
div.circle.abbrev {
    background-image: url(../images/ellipsis.png);
    background-size: cover;
}
div.circle.abbrev > div {
    visibility: hidden;
}
div.circle:hover {
    border-color: #ff7f0e;
}
div.circle.centered {
    border-style: solid;
    cursor: auto;
}
div.circle.centered div.circle{
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}
div.circle.centered > div.circle.circle-leaf {
    cursor: auto;
}
div.circle-align-helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

div.node-stack-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
div.stack-align-helper {
    display: inline-block;
    vertical-align: baseline;
}
div.stack-align-helper.start {
    height: 13%;
}
div.stack-align-helper.result {
    height: 87%;
}
div.node-list-container {
    display: inline-block;
    vertical-align: middle;
    /*position: absolute;*/
    pointer-events: none;
    width: 100%;
    text-align: center;
}

*.node-list {
    display: inline-block;
    border-collapse: collapse;
    pointer-events: auto;
    border-spacing: 0;
}
*.node-list td {
    padding: 2px 1px;
    border: 2px solid transparent;
}
*.node-list td.bucket {
    border-top-color: #44b300;
    border-bottom-color: #44b300;
}
*.node-list td.start {
    border-left-color: #44b300;
}
*.node-list td.end {
    border-right-color: #44b300;
}
*.text-node {
    padding: 0 3px;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
    /*margin: 0 1px;*/
}

*.text-node.ghost {
    margin: 0;
    cursor: auto;
}

core-header-panel {
    /*background: white;*/
}

core-toolbar {
    background-color: #526E9C;
}

#mainheader {
    background-color: #56BA89;
}

core-menu {
    /*padding: 8px;*/
}

core-menu.select {
    margin: 0;
}

paper-input {
    width: auto;
}

paper-button[raised].colored {
    background: #526E9C;
    color: #fff;
}

paper-button[raised].colored #ripple,
paper-button[raised].colored::shadow #ripple {
    color: #56BA89;
}

paper-button[raised].colored #focusBg,
paper-button[raised].colored::shadow #focusBg {
    background: #56BA89;
}
